
body{
	background: url('../img/subtle_grunge.png');

	font-family: "Georgia";
	font-size: 16px;
	line-height: 1.5em;
	text-shadow: 1px 1px 1px #fff;
}

h1{
	font-family: "Arial";
	font-size: 5em;
	line-height: 1.2em;
}

h2{
	font-family: "Comic Sans ms";
}

p{
	max-width: 70%;
}

#main{
	max-width: 80%;
	margin: 20px auto;
}


.rebus-container{
	background: #fff;
	padding: 10px;
	box-shadow: 1px 1px 16px #999;
	margin-bottom: 16px;
}

.row-fluid{
	padding: 25px 0;
}

.item{
	background: none;
	font-size: 36px;
	vertical-align: middle;
	font-family: "Comic Sans ms";
	text-align: center;
}


.item img{
	max-width: 60%;
	max-height: 150px;
	vertical-align: middle;
}

.item .text{
	width: 40%;
	background: none;
}

.item .text.no-image{
	font-size: 2em;
	padding: 40px 0 0 0;
}

